< script  async  src = " https://www.googletagmanager.com/gtag/js?id= {{site.google_analytics}} " > </ script >
< script >
  window [ ' ga-disable - {{site.google_analytics}} ' ] =  finestra . doNotTrack  ===  " 1 "  ||  navigatore . doNotTrack  ===  " 1 "  ||  navigatore . doNotTrack  ===  " sì "  ||  navigatore . msDoNotTrack  ===  " 1 " ;
  finestra . dataLayer  =  window . dataLayer  || [];
  funzione  gtag () { dataLayer . push ( argomenti );}
  gtag ( ' js ' , new  Date ());
  gtag ( ' config ' , ' {{site.google_analytics}} ' );
  ga('set', 'anonymizeIp', true);
</ script >
