@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    }
    
a {
  color: #ffdfdf;
  text-decoration: none;
  background-color: #333;
  padding: .20rem .25rem .15rem .25rem;
}

a:hover {
  background-color: #ffdfdf;
  color: #111;
}

small {
  font-size: .75rem;
}
