---
layout: home
permalink: tags
title: Dataporn
---

<div class="">
  <div class="courier lh-copy">
    <small>
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="">{{ tag[0] }}</a>
    {% endfor %}
    </small>
  </div>
  <div class="lh-copy">
    {% for tag in site.tags  %}
    <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
      {% for post in tag[1] %}
          <a class="f6 dib ph2 mv1 dim" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          </a>

      {% endfor %}
    {% endfor %}
  </div>
</div>
