<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
   <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
   <link rel="stylesheet" href="/assets/style/dataporn.css">
  {% feed_meta %}
  {% include favicon.html %}
  {%- include google-analytics.html -%}

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

</head>
<html lang="{{ page.lang | default: site.lang | default: "" }}" dir="ltr">
  {%- include head.html -%}
  <body class="vh-100 dt w-100">
    <h1 class="ttu sans-serif f1 f-headline-l lh-title mv0 ">
      <span class="bg-black-90 lh-copy washed-red pa1 tracked-tight">
        <a class="bg-black-90 lh-copy washed-red pa1 tracked-tight hover-bg-black-90" href="/">{{ page.title }}</a>
      </span>
    </h1>
    <h3 class="f4-l f6 lh-solid ttu fw1 sans-serif pa1 tracked-l">
        {{ page.payoff }}

    </h3>
    {{ content }}
    {%- include footer.html -%}
  </body>
</html>
